In [2]:
# list introduction

l = [10,20,30]
print(l)

[10, 20, 30]

In [3]:
print(type(l)) # type function will check the data type of 'l'

<class 'list'>

In [4]:
l2 = [10,0.2333, "NTT"] #list are hetro
print(l2)

[10, 0.2333, 'NTT']

In [6]:
print(len(l2)) # len function will find of out lenthod of list

3

In [8]:
# list creation using constructor list()

l3 = list((10,20,3,3333))

print(l3)
print(type(l3))

[10, 20, 3, 3333]
<class 'list'>

In [12]:
lis = [10,20,30,40,50,60,1.1,2.2,"NTT"]

# positive indexing
print(lis[0])
print(lis[1])
print(lis[6])
print(lis[8])

10
20
1.1
NTT

In [13]:
# negarive indexing
print(lis[-1])
print(lis[-3])
print(lis[-6])
print(lis[-8])

NTT
1.1
40
20

In [14]:
# range of positive indexing

l = [10,20,30,40,50]
print(l[0:3]) # will print from 0 index till 3 index i.e. 10,20,30
print(l[1:4]) # 20, 30, 40
print(l[2:5]) # if you want to print last number as well in the range give the beyond maximum value

[10, 20, 30]
[20, 30, 40]
[30, 40, 50]

In [15]:
# range of negative indexing

l = [10,20,30,40,50]
print(l[-5:-2]) # will print from -5 index till -2 index i.e. 10,20,30
print(l[-4:-1]) # 20, 30, 40
print(l[-3:-1]) # 30, 40

[10, 20, 30]
[20, 30, 40]
[30, 40]

In [16]:
# 3rd para in index ranging
l = [10,20,30,40,50]

print(l[0:5:2]) # 2-1 =1 skip one value from index 0 to 5

[10, 30, 50]

In [ ]:
#optional para in indexing range
l = [10,20,30,40,50]

In [19]:
# replacing elements in list

l = [10,20,30,40,50]
l[0] = 100
print(l)
l[1:4] = [200,300,400] # from index 1 to 3 it'll replace with given element
print(l)
l[1:2] = ["NTT"]
print(l)

[100, 20, 30, 40, 50]
[100, 200, 300, 400, 50]
[100, 'NTT', 300, 400, 50]

In [20]:
# Adding the element in list using append(end of the list)
l = [10,20,30,40,50]
l.append(60)  # appened will only take one element if you want to add more use loop
print(l)

[10, 20, 30, 40, 50, 60]

In [21]:
# Inserting the element in list in specific position

l = [10,20,30,40,50]
l.insert(2,300)
print(l)

[10, 20, 300, 30, 40, 50]

In [23]:
# Extending the list using another list

l1 = [10,20,30]
l2 = [40,50,60]
l1.extend(l2)
print(l1)

[10, 20, 30, 40, 50, 60]

In [25]:
# removing the element from list

l = [10,20,30,40,50]
l.remove(30)  # remove function takes value only
print(l)
l.pop(2) # pop function takes index value
print(l)

[10, 20, 40, 50]
[10, 20, 50]

In [27]:
# delete the list

l = [10,20,30,40,50]
del l[0]  # if you give specific index it'll remove that index value
print(l)
del l  # delete whole list

[20, 30, 40, 50]

In [28]:
# delete the element the list but empty list shoule be there

l = [10,20,30,40]
l.clear()
print(l)

[]

In [33]:
lis = [10,20,30,40,50,60]

for i in lis:   # iteration of list
    print(i)
    print(i+5)

10
15
20
25
30
35
40
45
50
55
60
65